Repository solarmarius/ragatuit: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, ruff-check-app

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-added-large-files
      - id: check-toml
      - id: check-yaml
        args:
          - --unsafe
      - id: end-of-file-fixer
        exclude: |
          (?x)^(
              frontend/src/client/.*|
              backend/app/email-templates/build/.*
          )$
      - id: trailing-whitespace
        exclude: ^frontend/src/client/.*
  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: v0.6.7
    hooks:
      - id: ruff
        args:
          - --fix
          - --select=I
      - id: ruff-format
  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: bash -c 'cd backend && source .venv/bin/activate && mypy app'
        language: system
        files: ^backend/.*\.py$
        args: [--ignore-missing-imports, --disallow-untyped-defs]
      - id: ruff-check-app
        name: ruff-check-app
        entry: bash -c 'cd backend && source .venv/bin/activate && ruff check app'
        language: system
        files: ^backend/app/.*\.py$
        pass_filenames: false

ci:
  autofix_commit_msg: ðŸŽ¨ [pre-commit.ci] Auto format from pre-commit.com hooks
  autoupdate_commit_msg: â¬† [pre-commit.ci] pre-commit autoupdate

fix: ruff format issues
  backend/app/services/mcq_generation.py
Due: mypy, ruff-check-app

feat(frontend): add dashboard panels, update padding on settings
  frontend/src/components/Dashboard/HelpPanel.tsx
  frontend/src/components/Dashboard/QuizGenerationPanel.tsx
  frontend/src/components/Dashboard/QuizReviewPanel.tsx
  frontend/src/components/UserSettings/Appearance.tsx
  frontend/src/components/UserSettings/DeleteAccount.tsx
  frontend/src/components/UserSettings/DeleteConfirmation.tsx
  frontend/src/components/UserSettings/UserInformation.tsx
  frontend/src/routes/_layout/index.tsx
  frontend/src/routes/_layout/settings.tsx
  frontend/src/utils/quizFilters.ts
Due: none

refactor(frontend): Remove supported questions from help panel
  frontend/src/components/Dashboard/HelpPanel.tsx
Due: none

test(frontend): add components test and layout
  frontend/src/components/Dashboard/HelpPanel.tsx
  frontend/src/components/Dashboard/QuizGenerationPanel.tsx
  frontend/src/components/Dashboard/QuizReviewPanel.tsx
  frontend/src/components/UserSettings/UserInformation.tsx
  frontend/src/routes/_layout/index.tsx
  frontend/tests/components/dashboard-help-panel.spec.ts
  frontend/tests/components/dashboard-layout.spec.ts
  frontend/tests/components/dashboard-quiz-generation-panel.spec.ts
  frontend/tests/components/dashboard-quiz-review-panel.spec.ts
  frontend/tests/fixtures/quiz-data.ts
Due: none

fix: unused variable
  frontend/src/components/Dashboard/QuizGenerationPanel.tsx
Due: none

fix: lint issues
  frontend/src/components/Dashboard/HelpPanel.tsx
  frontend/src/components/Dashboard/QuizGenerationPanel.tsx
  frontend/src/components/Dashboard/QuizReviewPanel.tsx
  frontend/src/components/Questions/QuestionGenerationTrigger.tsx
  frontend/src/components/Questions/QuestionReview.tsx
  frontend/src/components/UserSettings/Appearance.tsx
  frontend/src/components/UserSettings/DeleteAccount.tsx
  frontend/src/components/UserSettings/DeleteConfirmation.tsx
  frontend/src/components/UserSettings/UserInformation.tsx
  frontend/src/routes/_layout/index.tsx
  frontend/src/routes/_layout/settings.tsx
  frontend/tests/components/dashboard-help-panel.spec.ts
  frontend/tests/components/dashboard-layout.spec.ts
  frontend/tests/components/dashboard-quiz-generation-panel.spec.ts
  frontend/tests/components/dashboard-quiz-review-panel.spec.ts
  frontend/tests/components/question-generation.spec.ts
  frontend/tests/components/question-review.spec.ts
  frontend/tests/components/quiz-detail.spec.ts
  frontend/tests/fixtures/quiz-data.ts
Due: none

fix: remove failing button test
  frontend/tests/e2e/course-selection.spec.ts
Due: none

refactor: update mock server courses and pages
  mocks/mock_bodys.py
  mocks/oauth_mock_server.py
Due: none

feat: add quiz and quizItem endpoints to mock server
  docs/canvas-classic-vs-new-quizzes-analysis.md
  docs/canvas-quiz-endpoints-implementation.md
  mocks/oauth_mock_server.py
Due: none

fix: fix uuid in oauth, add feature request description
  docs/canvas-classic-vs-new-quizzes-analysis.md
  docs/feature-request-complete-canvas-quiz-api.md
  mocks/oauth_mock_server.py
Due: none

feat(backend): tracking fields in database, quizexport service, export api endpoint
  backend/app/alembic/versions/1c75f546f2b3_add_canvas_export_tracking_fields_to_.py
  backend/app/api/routes/quiz.py
  backend/app/models.py
  backend/app/services/canvas_quiz_export.py
  backend/app/tests/api/routes/test_quiz_export.py
  backend/app/tests/services/test_canvas_quiz_export.py
Due: mypy, ruff-check-app

feat(frontend): add post to canvas button
  backend/app/services/canvas_quiz_export.py
  frontend/src/client/core/request.ts
  frontend/src/client/sdk.gen.ts
  frontend/src/client/types.gen.ts
  frontend/src/components/Questions/QuestionStats.tsx
  frontend/src/components/ui/status-description.tsx
  frontend/src/routes/_layout/quiz.$id.tsx
  mocks/oauth_mock_server.py
Due: mypy, ruff-check-app

refactor: id of quiz and items are 5-digit integer as string (as Canvas API)
  backend/app/services/canvas_quiz_export.py
  backend/app/tests/services/test_canvas_quiz_export.py
  mocks/oauth_mock_server.py
Due: mypy, ruff-check-app

fix: small logging typo
  backend/app/services/canvas_quiz_export.py
  backend/app/tests/services/test_canvas_quiz_export.py
Due: mypy, ruff-check-app

test: add frontend tests
  frontend/tests/components/question-stats.spec.ts
Due: none

chore: frontend linting
  frontend/src/client/core/request.ts
  frontend/src/client/sdk.gen.ts
  frontend/src/components/Questions/QuestionStats.tsx
  frontend/src/components/ui/status-description.tsx
  frontend/src/routes/_layout/quiz.$id.tsx
  frontend/tests/components/question-stats.spec.ts
  frontend/tests/e2e/course-selection.spec.ts
Due: none

fix: changed test with status lights
  frontend/tests/components/quiz-detail-content-extraction.spec.ts
  frontend/tests/components/quiz-list-content-extraction.spec.ts
Due: none

chore: Create documents from refactoring analysis
  docs/Brukerflow.pdf
  docs/TECHSTACK.md
  docs/business-metrics-implementation-guide.md
  docs/canvas-quiz-endpoints-implementation.md
  docs/code-review-essential-features.md
  docs/feature-request-complete-canvas-quiz-api.md
  docs/refactoring/QUESTION_GENERATOR_MODULARIZATION.md
  docs/refactoring/REFACTORING_ANALYSIS.md
  docs/refactoring/issues/api_pagination.md
  docs/refactoring/issues/background_task_session.md
  docs/refactoring/issues/caching_layer.md
  docs/refactoring/issues/circ_depend.md
  docs/refactoring/issues/database_connection_pool.md
  docs/refactoring/issues/dependency_injection.md
  docs/refactoring/issues/hardcoded_url.md
  docs/refactoring/issues/langgraph_error_recovery.md
  docs/refactoring/issues/missing_database_indexes.md
  docs/refactoring/issues/rate_limiting.md
  docs/refactoring/issues/repository_pattern.md
Due: none

chore: additional refactoring documents
  docs/refactoring/REFACTORING_ANALYSIS_2.md
  docs/refactoring/issues/api_versioning_strategy.md
  docs/refactoring/issues/bulk_operations_optimization.md
  docs/refactoring/issues/circuit_breaker_pattern.md
  docs/refactoring/issues/json_column_migration.md
  docs/refactoring/issues/n1_query_patterns.md
  docs/refactoring/issues/request_id_correlation.md
  docs/refactoring/issues/security_headers.md
  docs/refactoring/issues/service_layer_error_handling.md
  docs/refactoring/issues/transaction_management.md
  docs/refactoring/issues/workflow_state_persistence.md
Due: none

chore: some Claude commands and roadmap for issues
  .claude/commands/issue.md
  .claude/commands/prreview.md
  docs/refactoring/REFACTORING_ROADMAP.md
  docs/refactoring/issues/question_generator_modularization.md
Due: none

fix: Update database_connection_pool document
  docs/refactoring/issues/database_connection_pool.md
Due: none

fix: make all datetime fields in model timezone-aware
  backend/app/alembic/versions/087292ae84f4_fix_expires_at_column_to_support_.py
  backend/app/alembic/versions/78d09a4cb335_make_content_extracted_at_exported_at_.py
  backend/app/core/security.py
  backend/app/models.py
Due: mypy, ruff-check-app

fix: small url typo for quiz posting
  backend/app/core/security.py
  backend/app/models.py
  backend/app/services/url_builder.py
  backend/app/tests/services/test_canvas_quiz_export.py
Due: mypy, ruff-check-app

refactor: add index parameter to foreign key, fix tests
  backend/app/alembic/versions/00ce39f73e5b_add_missing_indexes_for_foreign_keys_.py
  backend/app/models.py
  backend/app/tests/api/routes/test_quiz_export.py
  backend/app/tests/core/test_db.py
  backend/app/tests/services/test_mcq_generation.py
  docs/refactoring/REFACTORING_ROADMAP.md
  docs/refactoring/status/database_indexes_optimization.md
Due: mypy, ruff-check-app

refactor: add JSONB fields to extracted_content and selected modules, eliminate manual JSON parsing/serialization
  backend/app/alembic/versions/6da95a79f8d8_convert_json_string_columns_to_jsonb.py
  backend/app/api/routes/quiz.py
  backend/app/crud.py
  backend/app/models.py
  backend/app/services/mcq_generation.py
  backend/app/tests/api/routes/test_quiz_content_extraction.py
  backend/app/tests/crud/test_quiz.py
  backend/app/tests/services/test_mcq_generation.py
  docs/refactoring/REFACTORING_ROADMAP.md
  docs/refactoring/status/json_column_migration_status.md
  frontend/src/client/core/request.ts
  frontend/src/client/sdk.gen.ts
  frontend/src/client/types.gen.ts
  frontend/src/routes/_layout/quiz.$id.tsx
  frontend/src/routes/_layout/quizzes.tsx
Due: mypy, ruff-check-app

refactoring: convert inefficient get_question_counts_by_quiz_id to use SQL aggregation
  backend/app/crud.py
  docs/refactoring/REFACTORING_ROADMAP.md
  docs/refactoring/status/refactoring_status_report.md
Due: mypy, ruff-check-app

refactor: remove circular dpeendency between security and auth, add canvas_auth service layer
  backend/app/api/routes/auth.py
  backend/app/core/security.py
  backend/app/services/canvas_auth.py
  backend/app/tests/api/routes/test_auth.py
  backend/app/tests/core/test_security.py
  backend/app/tests/services/test_canvas_auth.py
  docs/refactoring/REFACTORING_ROADMAP.md
  docs/refactoring/status/circular_dependency_refactoring_status.md
Due: mypy, ruff-check-app

refactor: add factory methods for services, removed global mcq_generation_service instance
  backend/app/api/routes/quiz.py
  backend/app/core/dependencies.py
  backend/app/services/mcq_generation.py
  backend/app/tests/api/routes/test_quiz_content_extraction.py
  backend/app/tests/api/routes/test_quiz_export.py
  backend/app/tests/services/test_mcq_generation.py
  docs/refactoring/status/dependency_injection_refactoring_report.md
Due: mypy, ruff-check-app

refactor: add service layer error handling, custom exception types, retry decorators with exponential backoff, global execption handlers
  backend/app/api/routes/quiz.py
  backend/app/core/exceptions.py
  backend/app/core/global_exception_handler.py
  backend/app/core/retry.py
  backend/app/main.py
  backend/app/models.py
  backend/app/services/canvas_auth.py
  backend/app/services/canvas_quiz_export.py
  backend/app/services/content_extraction.py
  backend/app/services/mcq_generation.py
  backend/app/tests/core/test_exceptions.py
  backend/app/tests/core/test_global_exception_handler.py
  backend/app/tests/core/test_retry.py
  backend/app/tests/services/test_canvas_auth.py
  backend/app/tests/services/test_canvas_quiz_export.py
  docs/refactoring/REFACTORING_ROADMAP.md
  docs/refactoring/issues/service_layer_error_handling.md
  docs/refactoring/status/service_layer_error_handling_status.md
Due: mypy, ruff-check-app

add: backend file structure refactoring plan
  docs/BACKEND_REFACTORING_PLAN.md
Due: none

chore: replace backend refactoring plan with new one
  docs/BACKEND_REFACTORING_PLAN.md
  docs/REFACTORING_EXAMPLE.md
  docs/REFACTORING_PLAN.md
Due: none

refactor: implement Phase 3 - Canvas module migration
  backend/app/api/deps.py
  backend/app/api/main.py
  backend/app/api/routes/quiz.py
  backend/app/auth/canvas_auth.py
  backend/app/auth/dependencies.py
  backend/app/auth/router.py
  backend/app/auth/service.py
  backend/app/canvas/__init__.py
  backend/app/canvas/constants.py
  backend/app/canvas/content_extraction_service.py
  backend/app/canvas/dependencies.py
  backend/app/canvas/exceptions.py
  backend/app/canvas/quiz_export_service.py
  backend/app/canvas/router.py
  backend/app/canvas/schemas.py
  backend/app/canvas/service.py
  backend/app/canvas/url_builder.py
  backend/app/canvas/utils.py
  backend/app/core/db.py
  backend/app/core/dependencies.py
  backend/app/core/security.py
  backend/app/database.py
  backend/app/models.py
  backend/app/security.py
  backend/app/tests/api/routes/test_canvas.py
  backend/app/tests/core/test_security.py
  backend/app/tests/services/test_canvas_auth.py
  backend/app/tests/services/test_canvas_quiz_export.py
  backend/app/tests/services/test_content_extraction.py
  backend/app/tests/services/test_content_extraction_pdf.py
  backend/app/tests/services/test_url_builder.py
  memory.md
Due: mypy, ruff-check-app

refactor: implement Phase 4 - Quiz module migration
  backend/app/api/deps.py
  backend/app/api/main.py
  backend/app/auth/models.py
  backend/app/auth/router.py
  backend/app/auth/schemas.py
  backend/app/auth/service.py
  backend/app/auth/utils.py
  backend/app/canvas/dependencies.py
  backend/app/canvas/quiz_export_service.py
  backend/app/crud.py
  backend/app/models.py
  backend/app/quiz/__init__.py
  backend/app/quiz/models.py
  backend/app/quiz/router.py
  backend/app/quiz/schemas.py
  backend/app/quiz/service.py
  backend/app/security.py
  backend/app/services/mcq_generation.py
  backend/app/tests/api/routes/test_auth.py
  backend/app/tests/api/routes/test_questions.py
  backend/app/tests/api/routes/test_quiz_content_extraction.py
  backend/app/tests/api/routes/test_quiz_export.py
  backend/app/tests/api/routes/test_quizzes.py
  backend/app/tests/api/test_deps.py
  backend/app/tests/conftest.py
  backend/app/tests/core/test_security.py
  backend/app/tests/crud/test_question.py
  backend/app/tests/crud/test_quiz.py
  backend/app/tests/services/test_canvas_quiz_export.py
  memory.md
Due: mypy, ruff-check-app

refactor: complete Phase 5 - Question Module Migration
  backend/app/api/main.py
  backend/app/canvas/quiz_export_service.py
  backend/app/crud.py
  backend/app/models.py
  backend/app/question/__init__.py
  backend/app/question/mcq_generation_service.py
  backend/app/question/models.py
  backend/app/question/router.py
  backend/app/question/schemas.py
  backend/app/question/service.py
  backend/app/quiz/models.py
  backend/app/tests/api/routes/test_questions.py
  backend/app/tests/api/routes/test_quiz_export.py
  backend/app/tests/crud/test_question.py
  backend/app/tests/services/test_canvas_quiz_export.py
  memory.md
Due: mypy, ruff-check-app

refactor: complete Phase 6 - Integration & Cleanup
  backend/app/alembic/env.py
  backend/app/api/routes/users.py
  backend/app/canvas/quiz_export_service.py
  backend/app/common.py
  backend/app/core/__init__.py
  backend/app/core/config.py
  backend/app/core/db.py
  backend/app/core/exceptions.py
  backend/app/core/global_exception_handler.py
  backend/app/core/logging_config.py
  backend/app/core/middleware/__init__.py
  backend/app/core/middleware/logging_middleware.py
  backend/app/core/retry.py
  backend/app/crud.py
  backend/app/models.py
  backend/app/question/mcq_generation_service.py
  backend/app/question/router.py
  backend/app/quiz/router.py
  backend/app/quiz/service.py
  backend/app/services/__init__.py
  backend/app/services/mcq_generation.py
  backend/app/tests/api/routes/test_questions.py
  backend/app/tests/api/routes/test_quiz_content_extraction.py
  backend/app/tests/crud/test_question.py
  backend/app/tests/crud/test_quiz.py
  backend/app/tests/services/test_mcq_generation.py
  memory.md
Due: mypy, ruff-check-app

refactor: move alembic directory to root level
  backend/Dockerfile
  backend/alembic.ini
  backend/alembic/README
  backend/alembic/env.py
  backend/alembic/script.py.mako
  backend/alembic/versions/.keep
  backend/alembic/versions/00ce39f73e5b_add_missing_indexes_for_foreign_keys_.py
  backend/alembic/versions/087292ae84f4_fix_expires_at_column_to_support_.py
  backend/alembic/versions/0c20b0b588cf_add_llm_settings_to_quiz_model.py
  backend/alembic/versions/1c75f546f2b3_add_canvas_export_tracking_fields_to_.py
  backend/alembic/versions/279918ad3a1e_add_content_extraction_fields_to_quiz_.py
  backend/alembic/versions/2f157f577824_added_quiz_model.py
  backend/alembic/versions/387a734aea0f_update_at_field_is_not_null_on_creation.py
  backend/alembic/versions/6da95a79f8d8_convert_json_string_columns_to_jsonb.py
  backend/alembic/versions/78d09a4cb335_make_content_extracted_at_exported_at_.py
  backend/alembic/versions/beaa03897078_add_onboarding_completed_field_to_user_.py
  backend/alembic/versions/c79b13dadeef_add_question_model.py
  backend/alembic/versions/f19ecfe187cf_initial_schema.py
Due: mypy
